<form>
<div class="container">

  <div class="row mt-5">
    <div class="col-md-10">
      <h3>Customer Search</h3>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5">
      <div>
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp" placeholder="Enter first name">
        <!-- <small id="firstNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="lastNameHelp" placeholder="Enter last name">
        <!-- <small id="firstNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-5">
      <div>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <label for="exampleSelect1">Example select</label>
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-10">
      <div>
        <label for="exampleTextarea">Example textarea</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-1">
      <div>
      <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>

</div>
</form>

<!-- Search results table -->

<div class="container">
<div class="row mt-5">

  <div class="col-md-10">
  <table class="table table-hover">
  <thead>
  <tr class="table-success">
    <th scope="col">Column Heading</th>
    <th scope="col">Column heading</th>
    <th scope="col">Column heading</th>
    <th scope="col">Column heading</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Default</th>
    <td><a routerLink="customer-edit">Mirza Hussain</a></td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <th scope="row">Default</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <th scope="row">Default</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <th scope="row">Default</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  </tbody>
  </table>
  </div>

</div>
</div>





