
<div class="container">
  <div class="row mt-3">
    <div class="col-md-10">
      <h4>Package Details</h4>
    </div>
  </div>
</div>

<div class="container">

  <div [hidden]="editModeOn">
  <form #packageDetailForm="ngForm">

    <div class="row mt-3">
      <div class="col-md-3">
        <div>
          <label for="id">Id</label>
          <input type="text" class="form-control" id="id" readonly
                 [(ngModel)]="packageDetail.summary.id" name="id" #id="ngModel">
        </div>
      </div>
      <div class="col-md-2">
        <div>
          <label for="pkgtype">Type</label>
          <input type="text" class="form-control" id="pkgType"
                 [(ngModel)]="packageDetail.summary.type" name="pkgType" #pkgType="ngModel">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-5">
        <div>
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="packageDetail.summary.name" name="name" #name="ngModel">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-10">
        <div>
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="packageDetail.summary.description" name="description" #name="ngModel">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-5">
        <div>
          <label for="startDate">Start Date</label>
          <input type="text" class="form-control" id="startDate"
                 [(ngModel)]="packageDetail.itinerary.startDate" name="startDate" #name="ngModel">
        </div>
      </div>
      <div class="col-md-5">
        <div>
          <label for="endDate">End Date</label>
          <input type="text" class="form-control" id="endDate"
                 [(ngModel)]="packageDetail.itinerary.endDate" name="endDate" #name="ngModel">
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-10">
        <p>Select Room Options</p>
        <table class="table">
          <tr>
            <td>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="doubleRoom" [checked]="packageDetail.roomOptions[0].configured">
                  Double
                </label>
                <input type="text" class="form-control" id="doubleRoomPrice"
                       [(ngModel)]="packageDetail.roomOptions[0].perPersonPrice" name="doubleRoomPrice" #name="ngModel">
              </div>
            </td>
            <td>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="tripleRoom" [checked]="packageDetail.roomOptions[1].configured">
                  Triple
                </label>
                <input type="text" class="form-control" id="tripleRoomPrice"
                       [(ngModel)]="packageDetail.roomOptions[1].perPersonPrice" name="tripleRoomPrice" #name="ngModel">
              </div>
            </td>
            <td>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" id="quadRoom" [checked]="packageDetail.roomOptions[2].configured">
                  Quad
                </label>
                <input type="text" class="form-control" id="quadRoomPrice"
                       [(ngModel)]="packageDetail.roomOptions[2].perPersonPrice" name="quadRoomPrice" #name="ngModel">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-md-1">
        <div>
          <button type="submit" class="btn btn-success"
                  [disabled]="!packageDetailForm.form.valid">Update</button>
        </div>
      </div>
    </div>

  </form>
  </div>

</div>

